@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body{
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

a{
    text-decoration: none;
}

img{
    max-width:100%;
    vertical-align: middle;
}


.bi bi-person{
    font-weight: 500;
}

.logo{
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    margin-right: 48px;
    padding: 12px 0;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.dot{
    width: 8px;
    height: 8px;
    border-radius: 60%;
    background-color: #c0fa73;
    position: absolute;
    right: -1px;
    top: 12px;
    z-index: -1;
}

.container{
    max-width: 1296px;
    margin: 0 auto;
}

@media (max-width:768px) {
    .container{
        padding-left: 12px;
        padding-right: 12px;
    }
}

header ul{
    display: flex;
    padding: 16px 0;
}

header ul li a{
    display: inline-block;
    padding: 12px 0;
    margin-right: 40px;
    color: #212529;
}

header ul li:nth-last-child(1) a{
    margin-right: 0px;
}

header ul li a:hover{
    color: gray;
}

@media (max-width:768px) {

    header ul li a{
        margin-right: 0px;
    }
    
    header ul li:nth-child(2){
        display: none;
    }

     header ul li:nth-child(3){
        display: none;
    }
}

.mr-l{
    margin-left: auto;
}

.mr-r{
    margin-right: auto;
}

.banner{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true");
    background-size: cover;
    background-position: center;
    margin-bottom: 64px;
}


.text-align-center{
    text-align: center;
}

.bannerPadding{
       padding: 158px 0;
}

.banner .container h1{
    font-size: 40px;
    color: white;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
}

.banner .container h3{
    font-size: 28px;
    color: white;
    font-weight: 700;
    line-height: 1.2;
}

@media (max-width:768px) {
    .banner{
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true");
        height: 240px;
    }
    
    .bannerPadding{
        padding: 87px 0;
    }

    .banner .container h1{
        font-size: 28px;
        margin-bottom: 8px;
    }

    .banner .container h3{
        font-size: 20px;
    }
}


.row{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.col-8{
    width: 66.666666%;
}

.col-10{
    width: 83.333333%;
}


@media (max-width:768px) {
    .col-8{
    width: 100%;
}

.col-10{
    width: 100%;
}

}

.greenbg{
    text-align: center;
    background-color: #F5FEE7;
    margin-bottom: 48px;
    padding-top: 32px;
}

.greenbg h3{
    color: #57A203;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
}

.greenbg p{
    font-weight: 400;
    padding-bottom: 32px;
}

@media (max-width:768px) {
    .greenbg{
        padding: 24px;
        text-align: justify;
    }

    .greenbg p{
        padding-bottom: 0px;
    }
}

.brand{
    display: block;
    border-bottom: 1px solid #DEE2E6;
    margin-bottom: 48px;
    padding-bottom: 48px;
}


.pic{margin-bottom: 24px;}



.brand h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 5%;
    margin-bottom: 24px;
}

.brand h3{
    color: #57A203;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 5%;
    margin-bottom: 16px;
}

.brand p{
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 5%;
    color: #212529;
}

.brand ul li{
    margin-left: 24px;
    margin-bottom: 12px;
    list-style-type: disc;
}



.brand ul li span{
    border-right: 1px solid #000000;
    padding-right: 8px;
    margin-right: 8px;
}

.brand ol li {
    margin-bottom: 12px;
    list-style-type: none;
    border-left: 3px solid #DEE2E6;
    padding-left: 12px;
    display: flex;
}

.brand ol li p{
    align-items: center;
}

.brand a{
    display: block;
    text-decoration: none;
    margin-bottom: 16px;
    font-weight: 500;
    color:#57A203;
    line-height: 1.5;
    letter-spacing: 5%;
}
.brand a span{
    margin-left: 6px;
    border-bottom: 1px solid #57A203;
}

@media (max-width:768px) {
    .brand h2{
        font-size: 20px;
    }

    .brand h3{
        font-size: 16px;
    }
}

.discount{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: #E8FEC5;
}

.discount h4{
    font-size: 24px;
    margin-right: 24px;
    font-weight: 700;
    
}

.discount a{
    display: block;
    cursor: pointer;
    background: black;
    color: white;
    padding:12px 24px;
    border-radius: 4px;
}

.discount a:hover{
    color: black;
    background: white;
}

@media (max-width:768px) {
    .discount h4{
        font-size: 20px;
        margin-right: 16px;
        font-weight: 700;
    }

    .discount a{
        padding: 8px;
    }
}

footer{
    background: #F8F9FA;
    padding: 64px 0;
}

footer ul{
    display: flex;
    padding: 16px 0;
}

footer ul li a{
    display: inline-block;
    padding: 12px 0;
    margin-left: 40px;
    color: #212529;
}

footer ul li a:hover{
    color: gray;
}

@media (max-width:768px) {
    footer{
        padding: 32px 0;
    }

    footer ul{
        padding: 0;
        margin-bottom: 24px;
    }
    
    footer .container ul{
        flex-direction: column;
    }

    footer ul li a{
        margin: 0;
    }
}

.copyright{
    text-align: center;
    align-content: flex-end;
    padding-top: 32px;
    border-top: 1px solid #DEE2E6;
}

.copyright p{
    font-size: 14px;
    color: #6C757D;
}